@using Models
@model List<Product>

@{

    ViewBag.Title = "ViewProduct";
}
@{
    var user = Session["User"] as User;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div>
    <h4>Gerechten</h4>

    @if (Session["User"] != null && user.Email == "samirobeido76@gmail.com")
    {
        <p>
            @Html.ActionLink("Voeg nieuwe gerecht toe...", "AddProduct", "Product")
        </p>
        <hr />
        <div class="container">
            <div class="row">
                @foreach (var product in Model)
                {
                    @Html.Partial("_Products", product)
                }
            </div>
        </div>
    }
    else
    {
        <hr />
        
        <div class="container">
            <div class="row">
                @foreach (var product in Model)
                {
                    @Html.Partial("_Products", product)
                }
            </div>
        </div>
    }

</div>



