body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*My CSS code*/

.Product_Image {
    width: calc(70% + 20px);
    /*max-height: 50%;*/
    height:200px;
    object-fit: cover;
    margin: -10px -10px 0 -10px;
}
.info h5{
    font-size: 19px;
    margin-bottom: 10px;
}
.Detail-image {
    min-width: 300px;
    margin: 30px;
}
.col-md-4{
    margin-top:20px;
}
.title{
    font-size: x-large;
}
.title-name{
    font-size:xx-large;
}
.beschrijving{
    font-size:large;
}
/*.........................*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
}

.active{
    background-color: #4CAF50;
}

